<div class="container">
  <div class="form-container">
    <div class="w-150 mx-auto shadow p-5 py-5 my-5 bg-body rounded">
      <h2>Add Your Blog Posts</h2>
      <%= render 'components/blog-form' %>
      <%= render 'components/content-form' %>
    </div>
     <%= link_to "Back to top", projects_path, class: 'btn btn-secondary' %>
     <%= link_to "Back to profile", user_path(current_user.id), class: 'btn btn-secondary' %>
  </div>
</div>
