

  <%# PROFILE BANNER %>
  <div class="profile-card">
      <div class="profile-image-container">

    <div class="banner-top-video">
      <video autoplay loop muted id="myVideo">
        <source src=<%= image_path('https://res.cloudinary.com/dvdm3zjhh/video/upload/v1653293967/development/forest_z0yde5.mp4')%> type="video/mp4">
      </video>
    </div>


        <%# Sometimes the cl_image_path will not work%>
        <img class="user-profile-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1653281909/development/katsumi_profile_cstjem.png') %>">

        <%# Age calculator %>
          <% current_year = Time.new.year  %>
          <% age = current_year - 1957  %>
          <div class="name-title">
            <h4 class="manifesto">地域の声を町政に!!</h4>
            <h2>川島町議会議員</h2>
             <ruby>
              <h3>粕谷 克己</h3>
              <rt>かすやかつみ</rt>
            </ruby>
            <!--<h5>1957年3月川島町上大屋敷生れ (現在<%=age%>歳)</h5>-->


            <%# Contact Me Button %>
            <div class="contact-me">
              <a class="button" href="mailto:kasuyakatsumi@gmail.com">
              <p class="inner-text"><span class="fas fa-paper-plane"></span>お問い合わせ</p>
              </a>
            </div>
      </div>
  </div>
  </div>

  <%# END %>
  <div class="content-container">
    <div class="master-flex-container">

      <div class="flex-child-main-column">
        <div class="inner-card">
          <h5 class="manifesto">「変革を貫く実行力で 住みやすい地域づくり を目指します」</h5>
          <h4 class="vol-title">【主な活動目標】</h4>
          <ul>
            <li class="far fa-flag"> 廃校を有効利活用した地域の活性化</li><br>
            <li class="far fa-flag"> 災害(水害)に備えたインフラの整備と安全安心の 町づくり</li><br>
            <li class="far fa-flag"> 農業振興と調和のとれた地域開発</li><br>
            <li class="far fa-flag"> 国際社会で活躍できる子供たちの教育を支援</li><br>
          </ul>
        </div>

        <div class="inner-card">
          <h4 class="keireki">経歴</h4>
              <ul class="keireki-list">
                <li>明治学院大学法学部卒</li>
                <li>1979年4月川島町役場入庁</li>
                <li>川島町会計管理者</li>
                <li>総務課長（自主防災会の組織化）理事、主席専門員</li>
                <li>（その他）</li>
                <li>出丸地区横塚川改修促進協議会役員</li>
                <li style="border-bottom: 1px solid rgb(149, 148, 148);">埼玉県立松山高校同窓会川島部会役員</li>
              </ul>
        </div>

        <div class="inner-card">
          <h2>議会役職</h2>
          <li>総務経済建設常任委員会委員</li>
          <li>議会報編集委員会委員</li>
          <li>都市計画審議会委員</li>
          <li>地方創生・行財政特別委員会副委員長</li>
          <li>安藤川横塚川改修促進協議会委員</li>
          <li>議会災害対策会議委員</li>
        </div>

        <div class="inner-card">
          <ul>
            <li> 地方創生・行財政特別委員会では</li>
            <li>町が地方創生推進交付金を活用し地域商社の設立を 目指していることから、地域振興の役割を担う地域商 社がどのような組織として設置・運営されるのか先進 自治体の取組事例も含め調査研究を行いました。  視察地の茨城県桜川市では、市と商工会が出資(資 本金1,200万円)した株式会社クラセル桜川の経営状況 等の説明を受けました。クラセル桜川は地域の特産品 を販売する店舗を持ち、市と連携し観光資源の開発に も力を入れていました。</li>
          </ul>
        </div>
           <%# Location Box %>
        <div class="inner-card">
          <h3>後援会所在</h3>
          <div class="location">
            <i class="fas fa-map-marker-alt"><bdi><a href="https://www.google.com/maps/place/469+Kami%C5%8Dyashiki,+Kawajima,+Hiki+District,+Saitama+350-0142/@35.9584507,139.5183156,17z/data=!4m5!3m4!1s0x6018d0058dda05dd:0x33a113a5015fcb68!8m2!3d35.9584507!4d139.5183156">〒350-0142<br>埼玉県比企郡川島町上大屋敷469</a></bdi></i>
            <h3>連絡先</h3>
            <i class="fas fa-envelope"><bdi><a href="mailto:kasuyakatsumi@gmail.com">kasuyakatsumi@gmail.com</a></bdi></i>
            <i>FAX 049(297)7655</i>
            <p>地域発展のために、是非、粕谷かつみの後援会に入り、一緒に活動しませんか</p>
          </div>
        </div>
      </div>







    </div>
  </div>


<%# <div class="experiences-container">
  <p>Render job experiencs in a card carousel</p>
</div>

<div class="projects-container">
  <p>Render projects in a card carousel</p>
</div> %>
