


  <%# PROFILE BANNER %>
  <div class="profile-card">
      <div class="profile-image-container">




        <%# Sometimes the cl_image_path will not work%>
        <%# <img class="user-profile-image" src="https://lh3.googleusercontent.com/nYcDTb8mmesIumQZFFOsMA1AP_wUykX3ClwL_JDQpJxeemixLowKukEnRoP8-i0ovMXphNQcZQa2gIyMNudpOY-xxP_-7yxcW7bjsSy0RrpLXzaCy-Cq5QgoBVKqRmbqdyWxd9KDjwKvWnBshoD-UfkwczRO5fAB3u87OHiLfW790UB0SKyfipxQLJS9kC3TssgmIpAf9VK203hUprCReWAgnHigwl7dawaB4Y10YMJSUc_hL8A9xTeVlCGi9y0dc2J9F_cK4noPmPLjn6om8ZC76sr9wEgsgUJu6UYSoHdifGH0I3rhij79HjFMAp2yEGazg9ToBRAJVz3BOEpWbQxX_IjmftuYmDOyIVB4wWZa3dZfEUuen-xI5ZC9pgI4oIfIqckeXxfAZyoQecc_7WfLLDS-UMnJ_KsrZGnWD1m1K-H86GJqA2cc1U4ulwasxhGXoe3nw2YCdWTzXiiZwzhM98JG_g3WoNVsk0NNrU5MXMPmack9_PVeGNgT9X8P2tyUGIHxGgBZTbbHfJ9sk9louqMXA1ScC0H4qLROtfRceRoGr-RPWKKuegVdsn83YeQY5utu343-VNlbZuvkv_WvyLxS0TdoXq4GRxuVvLX2Tt3HeEEdXv_sJGPVM8E0LV9PH34PZwKywwXPF5-7c61_50-feSbUI2mjMuytSxnXK8co-BXQSa6mI853tEX5AiUThrLHaZPqMbmc1QPoQbVJnobgsHG0FmzaDlEvHUt2RgVoXVe3OdRbTWVs22yvvvlqKy8YuLh2QxXyCJmGlk0R2aZw6beFz1_R2hb-9y2YjSo8sNxxZ4wxTlLDV1dG6R1tuCvzuTmPqaAcLpDy6PaFPs7yC_Fbvf7nestloi-6Lww8lwhMDIugEBKIhFsvp1YDYOVhMTS0LmW6iygo9W5iZtwwa2n3X7L2pLh-1tnW2J9QwMN35gR3fIAq26k2ShjKsc79MfbM_w3M7gf22r544DG70U6WuYzWgJ2-nbomkzVAjzA-8VcM=w928-h972-no?authuser=0"> %>
        <img class="user-profile-image" src="https://lh6.googleusercontent.com/zrAjSPz6rZ0UYK3ZvysOsN_01hMes5iUOdg0BukxhaIw8ASTZIys59_pa_lXqiKPd7c=w2400">
        <%# <img class="user-profile-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1653281909/development/katsumi_profile_cstjem.png') %>


          <div class="name-title">
            <h4 class="manifesto">地域の声を町政に!!</h4>
            <h2>川島町議会議員</h2>
             <ruby>
              <h3>粕谷 克己</h3>
              <rt>かすやかつみ</rt>
            </ruby>



            <%# Contact Me Button %>
            <div class="contact-me">
              <a class="button" href="mailto:kasuyakatsumi@gmail.com">
              <p class="inner-text"><span class="fas fa-paper-plane"></span>お問い合わせ</p>
              </a>
            </div>
      </div>
  </div>
  </div>
  <%# END %>

  <div class="page-name-profile">
    <h1>粕谷かつみプロフィール</h1>
  </div>


  <div class="content-container">
    <div class="master-flex-container">

    <div class="flex-child-main-column">



        <div class="inner-card" style="width:70vw;">
          <h4 class="keireki">経歴</h4>
              <ul class="keireki-list" style="margin-left:-20px;">
                <%# Age calculator %>
                <li>2023年4月〜　川島町議会議員</li>
                <li>2019年4月〜2022年10月　川島町議会議員</li>
                  <ul class="inner-list" style="margin-left:-20px;">
                   <p>総務経済建設常任委員会委員</p>
                   <p>地方創生・行財政特別委員会副委員長</p>
                   <p>都市計画審議会委員</p>
                   <p>安藤川・横塚川改修促進協議会委員</p>
                  </ul>
                <% current_year = Time.new.year  %>
                <% age = current_year - 1957  %>
                <li>1979年4　月川島町役場入庁</li>

                <ul class="inner-list" style="margin-left:-20px;">
                  <li style="text-align: center; border-bottom: 1px solid rgb(149, 148, 148)">（主な経歴）</li>
                </ul>

                  <ul class="inner-list" style="margin-left:-20px;">
                   <p>川島町会計管理者</p>
                   <p>総務課長（東日本大震災から4年間防災担当）</p>
                   <p>副教育長兼教育総務課長</p>
                   <p>（小学校の規模適正化を推進）</p>
                  </ul>

                <li style="text-align: center;">（学歴）</li>
                <li>1979年3月　明治学院大学法学部卒</li>
                <li>1975年3月　埼玉県立松山高等学校卒</li>
                <li>1957年3月　川島町上大屋敷生れ (現在<%=age%>歳)</h5></li>

                  <li style="text-align: center;">（その他）</li>
                   <li>出丸地区横塚川改修促進協議会役員</li>
                   <li>埼玉県立松山高校同窓会川島部会役員</li>
                  <li style="border-bottom: 1px solid rgb(149, 148, 148);">川島町ライオンズクラブ会長（令和4年7月〜）</li>
              </ul>
        </div>

      </div>

       <!--<div class="inner-card">
          <h2>議会役職</h2>
          <li>総務経済建設常任委員会委員</li>
          <li>議会報編集委員会委員</li>
          <li>都市計画審議会委員</li>
          <li>地方創生・行財政特別委員会副委員長</li>
          <li>安藤川横塚川改修促進協議会委員</li>
          <li>議会災害対策会議委員</li>
        </div>-->



          </div>
        </div>

      </div>
      </div>







    </div>
  </div>


<%# <div class="experiences-container">
  <p>Render job experiencs in a card carousel</p>
</div>

<div class="projects-container">
  <p>Render projects in a card carousel</p>
</div> %>
