<%# PDF Document iframe %>
<div class="pdf-document" style="display:block; position:absolute; margin-left:1080px; margin-top: 280px;">
  <iframe src="https://drive.google.com/file/d/1oHmt4PYwtPCC9jznD_2gU0rz-cDm0PS2/preview" width="300" height="200" allow="autoplay"></iframe>
</div>
