// Specific CSS for your home-page

// Banner Video
.banner-top-video {
  border-top: solid 8px rgb(1, 193, 246);
  top: 20px;

  video {
    display: block;
    width: 100vw;
    height: auto;
    top: 120px;
  }

  video.scale2{
  -moz-transform:scale(3);
  -webkit-transform:scale(1.5);
  -o-transform:scale(1.5);
  -ms-transform:scale(1.5);
  transform:scale(1.5);
}

}




// Profile Banner Content
.profile-banner {
  background-color: #fafafa;
  width: 100vw;
  height: auto;
  box-shadow: 1px 1px 3px 3px#3b3b3b55;
  position: relative;
  top: -1080px;


  // Email Me Button //
.contact-me {
  position: absolute;
  left: 1200px;
  top: 70px;
  background-color: rgb(0, 139, 219);
  width: 146px;
  height: 40px;
  border-radius: 6px;
  text-align: center;
  transition-duration: 0.6s;

    a {
      color: white;
      align-items: center;
      display: block;
      text-decoration: none;
      // background-color: #5f5f5f;
      height: 100%;
      border-radius: 6px;
      vertical-align: middle;
      line-height: 40px;
      .fas {
        margin-right: 8px;
      }
    }
  }
  .contact-me:hover {
      background-color: rgb(0, 89, 141);
    }
// button end here //


  h2 {
    color: rgb(105, 105, 105);
    font-weight: bold;
  }
  h4 {
    color: rgb(148, 144, 144);
  }
}

.profile-image-container {
  background-color: rgb(250, 250, 250);
  height: 200px;
  width: 500px;
  display: flex;
  margin-left: 263px;

  img {
    margin: 18px;
    height: 156px;
    width: 156px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
    box-shadow: 1px 1px 3px 3px#3b3b3b55;
  }
}

.name-title {
  // background-color: rgb(245, 245, 245);
  width: auto;
  margin: auto;
}

// 4 Icons inside next to photo
.icon-container {
  i {
    background-color: rgb(158, 158, 158);
    font-size: 20px;
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    margin: 6px;
    color: rgb(240, 238, 238);
    transition-duration: 0.6s;
    text-align: center;
    line-height: 24px;
  }
  i:hover {
    background-color: rgb(110, 110, 110);
  }
}
