<div class="container">
  <div class="form-container">
    <div class="w-150 mx-auto shadow p-5 py-5 my-5 bg-body rounded">
      <h2>Edit my profile</h2>
      <%= render 'components/user-profile-form.erb' %>
    </div>
     <%= link_to "Back to my profile", user_path, class: 'btn btn-secondary' %>
  </div>
</div>
