  <%# PROFILE BANNER %>
  <div class="profile-card">
      <div class="profile-image-container">




        <%# Sometimes the cl_image_path will not work%>
        <img class="user-profile-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1653281909/development/katsumi_profile_cstjem.png') %>">


          <div class="name-title">
            <h4 class="manifesto">地域の声を町政に!!</h4>
            <h2>元川島町議会議員</h2>
             <ruby>
              <h3>粕谷 克己</h3>
              <rt>かすやかつみ</rt>
            </ruby>



            <%# Contact Me Button %>
            <div class="contact-me">
              <a class="button" href="mailto:kasuyakatsumi@gmail.com">
              <p class="inner-text"><span class="fas fa-paper-plane"></span>お問い合わせ</p>
              </a>
            </div>
      </div>
  </div>
  </div>
  <%# END %>

  <div class="page-name-profile">
    <h1>粕谷かつみ後援会</h1>
  </div>



<div class="content-container">
    <div class="master-flex-container">
    <div class="inner-card">
    <%# <h3>粕谷かつみ後援会</h3> %>
      <!--<div class="inner-card">
            <h4 class="vol-title">【主な活動目標】</h4>
            <ul>
              <li class="far fa-flag"> 廃校を有効利活用した地域の活性化</li><br>
              <li class="far fa-flag"> 災害(水害)に備えたインフラの整備と安全安心の 町づくり</li><br>
              <li class="far fa-flag"> 農業振興と調和のとれた地域開発</li><br>
              <li class="far fa-flag"> 国際社会で活躍できる子供たちの教育を支援</li><br>
            </ul>
      </div>-->
    <div class="inner-card">
      <h5>会長　山田　登</h5>
          <p>日ごろ皆様には大変お世話になります。</br>
            粕谷かつみ後援会では、粕谷かつみの活動目標<bdi class="emphasis">「子育て支援　ナンバーワンの町へ」</bdi>に賛同し、粕谷かつみを応援しています。</br>
            ぜひ皆様にはご支援賜りますとともに粕谷かつみ後援会への入会をお願いします。</br>
          </p>
    </div>

    <div class="inner-card">
      <div style="padding: 24px;" class="location">
        <h3 style="margin-bottom:16px;">後援会所在</h3>
          <%# <i class="fas fa-map-marker-alt"><bdi><a href="https://www.google.com/maps/place/484+Shimo%C5%8Dyashiki,+Kawajima,+Hiki+District,+Saitama+350-0144/@35.9590243,139.5136614,17z/data=!3m1!4b1!4m5!3m4!1s0x6018d00fb0c99f19:0x706807954cdc4bf1!8m2!3d35.95902!4d139.5158501/" target="_blank">川島町大字下大屋敷484</a></bdi></i> %>
          <i style="margin-left: 24px;" class="fas fa-map-marker-alt"><bdi><a href="https://www.google.com/maps/place/503+Kami%C5%8Dyashiki,+Kawajima,+Hiki+District,+Saitama+350-0142/@35.960694,139.5163807,20z/data=!4m5!3m4!1s0x6018d00fe0751d17:0x3ce318f00a5c64a6!8m2!3d35.9607016!4d139.5165658" target="_blank">川島町大字上大屋敷503番地（小島屋）</a></bdi></i>
          <p style="margin-left: 24px;">アクセス：平沼中老袋線　出丸駐在所脇</p>
          <p style="margin-left: 24px;">※ 住所をクリックすると地図が新しいタブで表示されます。</p>
          <h3 style="margin-bottom: 16px;">連絡先</h3>
          <i style="margin-left: 24px;" class="fas fa-envelope"><bdi><a href="mailto:kasuyakatsumi@gmail.com">kasuyakatsumi@gmail.com</a></bdi></i>
          <p style="margin-left: 24px;">※ メールアドレスをクリックすると既定のメールソフトが起動します。</p>

          <h4>後援会事務所<h4>
            <i style="margin-left: 24px;">電話 049(298)4371</i>
            <i style="margin-left: 24px;">FAX 049(298)4373</i>

          <div style="margin-bottom:26px;"></div>

          <h4>後援会会長<h4>
            <i style="margin-left: 24px;">電話 049(297)1957</i>
            <p style="margin-left:24px; font-size:16px;">※後援会事務所に繋がらない場合は、こちらにお電話ください。</p>
          <%# <i>FAX 049(297)7655</i> %>
      </div>
        <h5 class="join-message">変革を貫く実行力で 住みやすい地域づくり を目指します</h5>
        <p class="join-message-light">地域発展のために、是非、粕谷かつみの後援会に入り、一緒に活動しませんか</p>
    </div>

        <!--<div class="inner-card">
          <object data="your_url_to_pdf" type="application/pdf">
            <iframe style="align-content: center;" src="https://drive.google.com/file/d/1losaKpxJ05MyTRFJTg-n2jERNt4vfjBh/preview" width="640" height="480" allow="autoplay"></iframe>
          </object>
        </div>-->

      </div>
    </div>
</div>
