// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";



.project-image {
  height: 300px;
  width: 400px;
  overflow: hidden;
  object-fit: contain;
}

img {
  height: 100%;
  width: 100%;
}

.keireki {
  // background-color: rgba(109, 234, 155, 0.928);
  text-align: center;

}

.keireki-list {
  li {
    list-style-type: none;
    margin: 2px;
    padding: 8px;
    border-top: 1px solid rgb(149, 148, 148);
    // border-bottom: 1px solid rgb(149, 148, 148);
  }
}

.manifesto {
  color: rgba(16, 169, 186, 0.986);
  font-size: 25px;
  text-align: center;
  padding: 16px;
  text-shadow: 0px 1px 3px rgb(192, 192, 192);
}


.content-image {
  width: 600px;
  height: auto;
  background-color: blue;
}

.sub-section-title {
  margin-top: 16px;
  color: darkblue;
  font-size: 18px;
}

.inner-card {
  p {
    padding: 16px;
  }
}

.vol-title {
  margin-left: 16px;
  margin-top: 16px;
}

.flex-child-main-column2 {
  // background-color: aqua;
  width: 1200px;
  height: auto;

  p {
    line-height: 28px;
    font-size: 16px;
  }

  .inner-card {
    border-radius: 3px;
    margin: 16px;
    margin-right: 0px;
    background-color: whitesmoke;
    padding: 16px;
    box-shadow: 1px 1px 3px 3px#3b3b3b55;
  }
}

.sub-yosan {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;

  table {
    background-color: white;
    align-items: center;
    margin-bottom: 16px;
    margin-top: -24px;
  }
  th {
    text-align: center;
  }
  td,tr,th {
    border: solid 2px gray;
  }
}
