// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";



.project-image {
  height: 300px;
  width: 400px;
  overflow: hidden;
  object-fit: contain;
}

img {
  height: 100%;
  width: 100%;
}

.keireki {
  // background-color: rgba(109, 234, 155, 0.928);
  text-align: center;

}

.keireki-list {
  li {
    list-style-type: none;
    margin: 2px;
    padding: 8px;
    border-top: 1px solid rgb(149, 148, 148);
    // border-bottom: 1px solid rgb(149, 148, 148);
  }
}

.manifesto {
  color: rgba(16, 169, 186, 0.986);
  font-size: 25px;
  text-align: center;
  padding: 16px;
  text-shadow: 0px 1px 3px rgb(192, 192, 192);
}


.content-image {
  // max-width: 300px;
  max-height: 200px;
  padding: 8px;
  // background-color: blue;
}


.sub-section-title {
    color: darkblue;
    font-size: 18px;
    display: inline;
  }



.li-display-horizontal {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.classifier-box {
  // background-color: aquamarine;
  width: auto;
  display: flex;
  justify-content: space-evenly;
  // flex-direction: row;
}

.image-description {
  display: flex;
  flex-direction: column;

  li {
    list-style: none;
    text-align: center;
  }
}


.test-title {
  // background-color: blue;
  width: auto;
  text-align: center;
}


.master-image-box {
  background-color: azure;
  width: auto;
  padding: 16px;
  margin: 24px;
  border-radius: 8px;
}

.inner-card {
  p {
    padding: 16px;
  }
}

.vol-title {
  margin-left: 16px;
  margin-top: 16px;
}

.flex-child-main-column2 {
  // background-color: aqua;
  width: 1000px;
  height: auto;

  p {
    line-height: 28px;
    font-size: 16px;
  }

  bdi {
    color: rgb(3, 161, 3);
    font-weight: bold;
  }

  bdi:hover {
    color: rgb(132, 216, 5);
  }

  .inner-card {
    border-radius: 3px;
    margin: 16px;
    margin-right: 0px;
    background-color: whitesmoke;
    padding: 16px;
    box-shadow: 1px 1px 3px 3px#3b3b3b55;
  }
}

.sub-yosan {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;

  table {
    background-color: white;
    align-items: center;
    margin-bottom: 16px;
    margin-top: -24px;
  }
  th {
    text-align: center;
  }
  td,tr,th {
    border: solid 2px gray;
  }
}
