// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";


.join-message {
  background-color: yellow;
  padding: 8px;
  border-radius: 8px;
}

.join-message-light {
  background-color: rgb(78, 247, 176);
  padding: 8px;
  border-radius: 8px;
}


.project-image {
  height: 300px;
  width: 400px;
  overflow: hidden;
  object-fit: contain;
}

img {
  height: 100%;
  width: 100%;
}




.sub-section-title {
    color: darkblue;
    font-size: 18px;
    display: inline;
  }



.li-display-horizontal {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.classifier-box {
  // background-color: aquamarine;
  width: auto;
  display: flex;
  justify-content: space-evenly;
  // flex-direction: row;
}

.image-description {
  display: flex;
  flex-direction: column;

  li {
    list-style: none;
    text-align: center;
  }
}


.test-title {
  // background-color: blue;
  width: auto;
  text-align: center;
}


.master-image-box {
  background-color: azure;
  width: auto;
  margin: 16px;
  border-radius: 8px;
}

.vol-title {
  margin-left: 16px;
  margin-top: 16px;
}

.flex-child-main-column2 {
  width: 70%;
  margin: auto;

  p {
    line-height: 28px;
    font-size: 16px;
  }



  .inner-card {
    border-radius: 3px;
    margin: 16px;
    // margin-right: 0px;
    background-color: whitesmoke;
    padding: 16px;
    box-shadow: 1px 1px 3px 3px#3b3b3b55;
  }
}

.sub-yosan {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;

  table {
    background-color: white;
    align-items: center;
    margin-bottom: 16px;
    margin-top: -24px;
  }
  th {
    text-align: center;
  }
  td,tr,th {
    border: solid 2px gray;
  }
}
