.logo-image {
 margin-left: 57px;
  margin-right: 36px;
  width: 33px;
  height: 23px;
  object-fit: cover;
  object-position: 2px -1px;
  transform: scale(5);
}

.navbar {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries

@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Removed after Heroku push trial error //
// @import "bootstrap";
// @import "~bootstrap/scss/bootstrap";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/show";
@import "rooms";
@import "room_messages.scss";

// Chatroom CSS partials
// @import "chatrooms.scss";
@import "messages.scss";


// Blogpost CSS partials
@import "blogposts.scss";
@import "posts.scss";

// General CSS partials
@import "experiences.scss";
@import "projects.scss";

// Home //
@import "home.scss"

//Don't place semicollon on the last import
