// Place all the styles related to the blogposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.blogpost-card {
  background-color: rgb(144, 144, 144);
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  width: 360px;
}
