/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

.content-container2 {
    margin-left: 240px;
    margin-right: 240px;
}

.master-flex-container {
  margin-left: 240px;
  margin-right: 240px;
}
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

.content-container2 {
    margin-left: 200px;
    margin-right: 200px;
}

.master-flex-container {
  margin-left: 200px;
  margin-right: 200px;
}

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {


}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  /* CSS */

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

.test-box {
    color: blue;
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .navbar {
    padding: 10px;
  }



  .name-title {
    h2 {
      font-size: 16px;
    }
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 12px;
    }
    h5 {
      font-size: 15px;
    }
  }

    .logo-test {
      // background-color: aqua;
      margin-left: -16px;
      margin-right: 12px;
    }

}


// Media Query for Smartphone //
// Base min-width 480px //

// Starts to appy when screen is smaller than: 576
// @media screen and (min-width: 375px) {

// .content-container2 {
//   margin: auto;
//   width: 70%;
// }
// .profile-banner2 {
//   background-color: aqua;

//    .profile-image-container2 {
//      display: none;

//      .contact-me {
//       position: absolute;
//       display: block;
//       left: 328px;
//       top: -108px;
//      }
//    }
// }

// .flex-child-main-column2 {

//   .inner-card {
//     border-radius: 3px;
//     margin: auto;
//     background-color: whitesmoke;
//     padding: 16px;
//     box-shadow: 1px 1px 3px 3px #3b3b3b55;
//     }
//   }
// }


// @media only screen and (min-width: 480px) {
//   .flex-child-main-column2 {
//     width: 100%;
//     margin: auto;
//   }

//   .inner-card {
//     margin: auto;
//   }

//   body {
//     background-color: blue;
//   }
// }
